@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

a:active {
	color: #fff;
	text-decoration: none;
}
a:focus {
	outline: none;
	color: #fff;
	text-decoration: none;
}
nav {
	background-image: url(../images/navbar.jpg);
	text-align: center;	
}

nav > * {
	height: 92px;
    line-height: 60px;
	display:inline-block;
	margin-left: 28px;
	margin-right: 28px;
}

nav > a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 600;
	font-size: 14px;
}

nav > .logo {
	background-repeat: no-repeat;
	background-position: center center;
	height: 92px;
	width: 83px;
	margin: 0;
}

.page .container {
	padding-bottom: 20px;
}

.form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(34, 34, 34, 0.6);
    outline: 0 none;
}

/* HOMEPAGE*/

#homepage {
	background-image: url(../images/square_bg.png);
	background-repeat: repeat;	
}

#homepage > .container {
	padding-top: 50px;
}


#homepage > div > #logo {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 86px;
	text-indent: -10000px;
}

#homepage > div > h1 {
	color: #eb4f28;
	font-weight: 300;
	font-size: 49px;
	text-align: center;
	margin-top: 115px;
	margin-bottom: 23px;
}

#homepage > div > p {
	color: #222;
	font-size: 23px;
	text-shadow: 0px 1px #fff;
	text-align: center;
	font-weight: 300;
}

#homepage > div > .buttons {
    text-align: center;
	margin-top: 115px;
}

#homepage > div > .buttons > a {
	text-transform:uppercase;
	display: inline-block;
	width: 130px;
	height: 130px;
	line-height: 130px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	margin-left: 7px;
	margin-right: 7px;
	font-weight: 600;

	
	-webkit-border-radius: 130px;
	-moz-border-radius: 130px;
	border-radius: 130px;
}

#homepage > div > .buttons > a.btn-portfolio {
	background-color: #eb4f28;
	text-shadow: 0px 1px #84250d;
}

#homepage > div > .buttons > a.btn-about {
	background-color: #f1c016;
	text-shadow: 0px 1px #a08113;

}

#homepage > div > .buttons > a.btn-contact {
	background-color: #1a99aa;
	text-shadow: 0px 1px #116773;
}

#homepage > div > .buttons > a.btn-blog {
	background-color: #409f89;
	text-shadow: 0px 1px #225a4d;
}


/* PORTFOLIO*/

#portfolio > nav > .logo {
	background-image: url(../images/logo_portfolio.jpeg);
}

#portfolio > nav > .selected {
	color: #ed6c4c;
}

#portfolio > div.container {
	width: 1000px;
}

#portfolio > div > h1 {
	text-transform: uppercase;
	color: #eb4f28;
	font-size: 40px;
	margin-top: 60px;
	margin-bottom: 35px;
}

#portfolio > div > .projects {
	margin-bottom: 90px;
}

#portfolio > div > .projects > li {
	height: 333px;
	padding: 0px;
}

#portfolio > div > .projects > li > .preview {
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}

#portfolio > div > .projects > li > .information {
	background-color: #222;
	height: 100%;
	display: none;
	padding: 20px;
}

#portfolio > div > .projects > li.active > .preview {
	display: none;
}

#portfolio > div > .projects > li.active > .information {
	display: block;
}

#portfolio > div > .projects > li > .information > h2 {
	font-size: 26px;
	margin: 0px;
	text-shadow: 0px 1px #424847;
	text-transform: uppercase;
	margin-top: 35px;
	margin-bottom: 15px;
	font-weight: 600;
}

#portfolio > div > .projects > li > .information > .type {
	color: #6b6e6d;   
	border-bottom: 1px ridge #1B1B1B;
    box-shadow: 0 1px #343434;
	margin-bottom: 20px;
	font-size: 12px;
}

#portfolio > div > .projects > li > .information > p {
	color: #fff;
	font-size: 15px;
}

#portfolio > div > .projects > li > .information > a {
	display: block;
	text-align: right;
	color: #fff;
	margin-top: 30px;
	font-size: 14px;
}

/* ABOUT*/

#about > div.container {
	width: 1000px;
}
#about > nav > .logo {
	background-image: url(../images/logo_portfolio_y.jpg);
}

#about > nav > .selected {
	color: #f1c016;
}

#about > div > h1 {
	text-transform: uppercase;
	color: #f1c016;
	font-size: 40px;
	margin-top: 60px;
	margin-bottom: 28px;
}

#about div.col-md-8 > p {
	font-size: 15px;
	padding-right: 45px;
	margin-bottom: 25px;
}

#about .download {
	background-color: #222;
	padding: 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #FFF;
	text-transform: uppercase;
	margin-top: 70px;
	display: inline-block;
	background-image: url(../images/dlicon.png);
	background-repeat: no-repeat;
	background-position: 7px center;
	padding-left: 23px;
	padding-right: 9px;
	margin-bottom: 90px;
	font-size: 12px;
	font-weight: 600;
}

#about .design {
	background-image: url(../images/webdesign.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 62px;
}	

#about h2 {
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 4px;
}

#about .development {
	background-image: url(../images/webdevelopment.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 62px;
	margin-top: 42px;
}	

#about .branding {
	background-image: url(../images/branding.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 62px;
	margin-top: 42px;
}	

/* CONTACT*/

#contact > div.container {
	width: 1000px;
}
#contact {
	background-image: url(../images/skewed_print.png);
}

#contact > nav > .logo {
	background-image: url(../images/logo_portfolio_b.jpg);
}

#contact > nav > .selected {
	color: #1a99aa;
}

#contact nav {
	background-image: url(../images/navbar.png);
	text-align: center;	
}

#contact > div > h1 {
	text-transform: uppercase;
	color: #1a99aa;
	font-size: 40px;
	margin-top: 60px;
	margin-bottom: 28px;
}

#contact p {
	color: #FFF;
	font-size: 15px;
}

#contact .leftside {
	width: 350px;
}

#contact .social{
	border-top: 1px solid #1E1E1E;
    box-shadow: 0 -1px #000000;
	margin-top: 28px;
	padding-top: 20px;
}

#contact .skype{
	background-image: url(../images/skype.png);
	background-repeat:no-repeat;
	background-position: 0px center;
	width: 35px;
	height:35px;
	display:inline-block;
	margin-right: 15px;
	
}

#contact .linkedin{
	background-image: url(../images/linkedin.png);
	background-repeat:no-repeat;
	background-position: 0px center;
	width: 35px;
	height:35px;
	display:inline-block;
}

#contact input {
	background-color: rgba(255, 255, 255, 0.1);
	border:0;
	height:45px;
	color: #fff;
	font-size: 14px;
}

#contact form .row {
	margin-bottom: 17px;
}

#contact form .row .col-md-6:first-child {
	padding-right: 0px;
}

#contact textarea {
	background-color: rgba(255, 255, 255, 0.1);
	border:0;
	color: #fff;
	font-size: 14px;
}

#contact button {
	background-color: #1a99aa;
	padding: 15px;
	padding-left: 50px;
	padding-right:50px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #FFF;
	text-transform: uppercase;
	margin-top: 22px;
	margin-bottom: 90px;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #136a76;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75), 
						inset 0 1px 1px 0 rgba(255, 255, 255, 0.50);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.89), 
				inset 0px 1px 1px 0 rgba(255, 255, 255, 0.43);
}

/* WEBSITES */

article.project > header, article.project > footer  {
	background-color: #222222;
	height: 50px;
	
}

article.project > header > .container, article.project > footer > .container {
	height: 100%;
}
article.project > header > .container > a, article.project > footer > .container > a {
	background-position:center center;
	background-repeat: no-repeat;
	width: 13px;
	height: 100%;
	display: inline-block;
	text-indent: -100000px;
}

article.project > header > .container > .previous, article.project > footer > .container > .previous {
	background-image: url(../images/page/previous.png);
	margin-right: 20px;
}

article.project > header > .container > .next, article.project > footer > .container > .next {
	background-image: url(../images/page/next.png);
}

article.project > header > .container > .cancel, article.project > footer > .container > .cancel {
	background-image: url(../images/page/close.png);
	width: 24px;
}

.project h1 {
	text-transform: uppercase;
	color: #ef0054;
	font-size: 40px;
	text-align: center;
	margin-top: 115px;
	margin-bottom: 25px;
}

.project .type {
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}

.project .work{
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 20px;
	border-top: 1px inset #222;
	width: 555px;
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.project .description{
	text-align: center;
	font-size: 16px;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
}

.project .leftarrow {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 30px 28px 30px 0;
	border-color: transparent #222 transparent transparent;
	display: inline-block;
	overflow: hidden;
	position: fixed;
	top: 400px;
}

.project .rightarrow {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 30px 0 30px 28px;
	border-color: transparent transparent transparent #222;
	display: inline-block;
	overflow: hidden;
	position: fixed;
	top: 400px;
	}
	
.project .main-visual {
	background-repeat: no-repeat;
	width:757px;
	height:646px;
	background-position: 28px 28px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 95px;
}
.project.thelovefairy .main-visual {
	background-image:  url(../images/page/thelovefairy/home.jpg);
}

.project .imac {
	background-image:  url(../images/page/imac.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.project h2 {
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
	margin-top: 115px;
	
}

.project .line {
	border-bottom: 1px solid #222;
	margin-top: 20px;
	margin-bottom:20px;
	width: 185px;
	margin-left: auto;
	margin-right: auto;
}

.project .logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.project h3 {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	margin-top: 95px;
	display: inline-block;
	margin-bottom: 30px;
}

.project .pages {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.project .view {
	background-color: #222;
	padding: 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #FFF;
	text-transform: uppercase;
	margin-top: 60px;
	padding-left:10px;
	padding-right: 10px;
	margin-bottom: 115px;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
}

.arthistory h1 {
	text-transform: uppercase;
	color: #494949;
	font-size: 40px;
	text-align: center;
	margin-top: 115px;
	margin-bottom: 25px;
}

.project.arthistory .main-visual {
	background-image:  url(../images/page/thesis/westernart.jpg);
}

.chiro h1 {
	text-transform: uppercase;
	color: #adb584;
	font-size: 40px;
	text-align: center;
	margin-top: 115px;
	margin-bottom: 25px;
}

.project.chiro .main-visual {
	background-image:  url(../images/page/chiro/chiro.jpg);
}

.chiro .palette  {
	margin-top: 60px;
}

.project .noviewpages {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 115px;
}

.chiro h1 {
	text-transform: uppercase;
	color: #008bd0;
	font-size: 40px;
	text-align: center;
	margin-top: 115px;
	margin-bottom: 25px;
}

.project.chiro .main-visual {
	background-image:  url(../images/page/world-without-war/worldwithoutwar.jpg);
}